.wsh-overlay {
  background-repeat: no-repeat;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 10000;
}
.wsh-overlay-controls {
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
}
.wsh-overlay-controls label {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 3px;
  padding: 10px;
}
.wsh-overlay-controls input[type=checkbox] {
  cursor: pointer;
}